<script type="text/javascript">
    var html = "<div style='background-color: {{ settings.background }}; width: 300px'>";

    {% for teaser in teasers %}
    html += "<div style='{% if loop.index < settings.cols and settings.textPosition != 'left' and settings.textPosition != 'right' %}float:left{% endif %}; padding:{{ settings.padding }};'>";

    {% if settings.textPosition == 'bottom' %}
        {% include("AppBundle:Default:_image_template.js.twig") %}
        {% include("AppBundle:Default:_title_template.js.twig") %}
        {% if settings.moreActive %}
            {% include("AppBundle:Default:_more_template.js.twig") %}
        {% endif %}

    {% elseif settings.textPosition == 'top' %}
        {% include("AppBundle:Default:_title_template.js.twig") %}
        {% include("AppBundle:Default:_image_template.js.twig") %}
        {% if settings.moreActive %}
            {% include("AppBundle:Default:_more_template.js.twig") %}
        {% endif %}

    {% elseif settings.textPosition == 'left' %}
        {% include("AppBundle:Default:_title_template.js.twig") %}
        {% include("AppBundle:Default:_image_template.js.twig") %}
        {% if settings.moreActive %}
            {% include("AppBundle:Default:_more_template.js.twig") %}
        {% endif %}

    {% elseif settings.textPosition == 'right' %}
        {% include("AppBundle:Default:_image_template.js.twig") %}
        {% include("AppBundle:Default:_title_template.js.twig") %}
        {% if settings.moreActive %}
            {% include("AppBundle:Default:_more_template.js.twig") %}
        {% endif %}
    {% endif %}



    html += "<div style='clear:both;'></div>";
    html += "</div>";
    {% endfor %}

    html += "</div>";

    document.write(html);
</script>