{% for teaser in teasers %}
    {{ include('AppBundle:Default/html:teaser_' ~ settings.blockId ~ '.html.twig', {
        teaser:teaser,
        padding : settings.padding,
        background : settings.background,
        pictureSize : settings.pictureSize,
        pictureBorderRadius : settings.pictureBorderRadius,
        pictureBorderSize : settings.pictureBorderSize,
        pictureBorderColor : settings.pictureBorderColor,
        pictureShadowSize : settings.pictureShadowSize,
        pictureShadowColor : settings.pictureShadowColor,
        moreType : settings.moreType,
        moreTxtFontColor : settings.moreTxtFontColor,
        moreTxtFontSize : settings.moreTxtFontSize,
        moreTxtFont : settings.moreTxtFont,
        moreTxtFontStyle : settings.moreTxtFontStyle,
        moreTxt : settings.moreTxt,
        headerFontColor : settings.headerFontColor,
        headerFontSize : settings.headerFontSize,
        headerFontFamily : settings.headerFontFamily,
        headerFontStyle : settings.headerFontStyle,
        headerFontFamily : settings.headerFontFamily,
    }) }}
    {% if loop.index is divisible by(settings.cols) %}
        <div style="clear:both"></div>
    {% endif %}
{% endfor %}
