<p>Copy & Paste this code where you want your ad block appear on page</p>
<textarea style="width: 100%; min-height: 50px" readonly>
{{ '<script type="text/javascript" src=""></script>' | e }}
</textarea>