<p>Copy & Paste this code where you want your ad block appear on page</p>
<textarea style="width: 100%; min-height: 100px">
<script type="text/javascript" src="{#create route for rendering proper js#}"></script>
</textarea>